
 @font-face {
	 font-family: 'Avenir-Next';
	 font-weight: normal;
	 font-display: swap;
	 src: url('https://assets.digital.coop.co.uk/finder/static/fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix');
	 src: url('https://assets.digital.coop.co.uk/finder/static/fonts/e9167238-3b3f-4813-a04a-a384394eed42.eot?#iefix') format('eot'), url('https://assets.digital.coop.co.uk/finder/static/fonts/2cd55546-ec00-4af9-aeca-4a3cd186da53.woff2') format('woff2'), url('https://assets.digital.coop.co.uk/finder/static/fonts/1e9892c0-6927-4412-9874-1b82801ba47a.woff') format('woff'), url('https://assets.digital.coop.co.uk/finder/static/fonts/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf') format('truetype');
}
 @font-face {
	 font-family: 'Avenir-Next';
	 font-weight: normal;
	 font-style: italic;
	 font-display: swap;
	 src: url('https://assets.digital.coop.co.uk/finder/static/fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix');
	 src: url('https://assets.digital.coop.co.uk/finder/static/fonts/d1fddef1-d940-4904-8f6c-17e809462301.eot?#iefix') format('eot'), url('https://assets.digital.coop.co.uk/finder/static/fonts/7377dbe6-f11a-4a05-b33c-bc8ce1f60f84.woff2') format('woff2'), url('https://assets.digital.coop.co.uk/finder/static/fonts/92b66dbd-4201-4ac2-a605-4d4ffc8705cc.woff') format('woff'), url('https://assets.digital.coop.co.uk/finder/static/fonts/18839597-afa8-4f0b-9abb-4a30262d0da8.ttf') format('truetype');
}
 @font-face {
	 font-family: 'Avenir-Next';
	 font-weight: 500;
	 font-display: swap;
	 src: url('https://assets.digital.coop.co.uk/finder/static/fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix');
	 src: url('https://assets.digital.coop.co.uk/finder/static/fonts/1a7c9181-cd24-4943-a9d9-d033189524e0.eot?#iefix') format('eot'), url('https://assets.digital.coop.co.uk/finder/static/fonts/627fbb5a-3bae-4cd9-b617-2f923e29d55e.woff2') format('woff2'), url('https://assets.digital.coop.co.uk/finder/static/fonts/f26faddb-86cc-4477-a253-1e1287684336.woff') format('woff'), url('https://assets.digital.coop.co.uk/finder/static/fonts/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf') format('truetype');
}
 @font-face {
	 font-family: 'Avenir-Next';
	 font-weight: 600;
	 font-display: swap;
	 src: url('https://assets.digital.coop.co.uk/finder/static/fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix');
	 src: url('https://assets.digital.coop.co.uk/finder/static/fonts/12d643f2-3899-49d5-a85b-ff430f5fad15.eot?#iefix') format('eot'), url('https://assets.digital.coop.co.uk/finder/static/fonts/aad99a1f-7917-4dd6-bbb5-b07cedbff64f.woff2') format('woff2'), url('https://assets.digital.coop.co.uk/finder/static/fonts/91b50bbb-9aa1-4d54-9159-ec6f19d14a7c.woff') format('woff'), url('https://assets.digital.coop.co.uk/finder/static/fonts/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf') format('truetype');
}
 @font-face {
	 font-family: 'Avenir-Next';
	 font-weight: 600;
	 font-style: italic;
	 font-display: swap;
	 src: url('https://assets.digital.coop.co.uk/finder/static/fonts/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix');
	 src: url('https://assets.digital.coop.co.uk/finder/static/fonts/770d9a7e-8842-4376-9319-8f2c8b8e880d.eot?#iefix') format('eot'), url('https://assets.digital.coop.co.uk/finder/static/fonts/687932cb-145b-4690-a21d-ed1243db9e36.woff2') format('woff2'), url('https://assets.digital.coop.co.uk/finder/static/fonts/bc350df4-3100-4ce1-84ce-4a5363dbccfa.woff') format('woff'), url('https://assets.digital.coop.co.uk/finder/static/fonts/bc13ae80-cd05-42b4-b2a9-c123259cb166.ttf') format('truetype');
}
 @font-face {
	 font-family: 'Caslon Book';
	 src: url('https://irresistible.coop.co.uk/fonts/Caslon-224-Book.eot');
	 src: url('https://irresistible.coop.co.uk/fonts/Caslon-224-Book.eot?#iefix') format('embedded-opentype'), url('https://irresistible.coop.co.uk/fonts/Caslon-224-Book.woff') format('woff'), url('https://irresistible.coop.co.uk/fonts/Caslon-224-Book.ttf') format('truetype'), url('https://irresistible.coop.co.uk/fonts/Caslon-224-Book#Caslon-224-Book') format('svg');
	 font-weight: normal;
	 font-style: normal;
}
 :root {
	 --font-size: 1rem;
	 --font-size--small: 0.875rem;
	 --line-height: 1.5;
	 --line-height--header: 1.4;
	 --spacing-list: 1.875rem;
	 --type-size--f1: 1.875rem;
	 --type-size--f2: 1.25rem;
	 --type-size--f3: 1.125rem;
	 --type-size--f4: 1rem;
	 --type-size--f5: 0.875rem;
	 --type-size--f6: 0.75rem;
	 --magic-spacing: calc(var(--font-size) + var(--spacing-base--1-8));
	 --app-header-height: 8rem;
	 --border-radius: 4px;
	 --box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 1px;
	 --color-bg: #fff;
	 --color-invalid: #d63118;
	 --color-linen: #faebeb;
	 --color-alt-grey: #f2f4f7;
	 --btn-cta-color-disabled: #7f9ca7;
	 --btn-add-to-basket-color-disabled: #b5b5b5;
}
 .u-row-spaced {
	 display: flex;
	 justify-content: space-between;
}
 .u-flex-push-right {
	 margin-left: auto;
}
 .u-flex-push-left {
	 margin-right: auto;
}
 .u-container-padded {
	 padding-left: 1.25rem;
	 padding-right: 1.25rem;
}
 .u-dark-background {
	 background-color: #f2f4f7;
}
 .u-text-center {
	 text-align: center;
}
 .u-anchor::before {
	 --anchor-offset: calc(var(--app-header-height) + var(--spacing-base));
	 content: '';
	 display: block;
	 margin-top: calc(var(--anchor-offset) * -1);
	 padding-top: var(--anchor-offset);
}
 html, body {
	 font-family: var(--font-family);
	 font-size: var(--font-size);
	 font-weight: 400;
	 line-height: var(--line-height);
}
 h1, h2, h3, h4, h5, h6 {
	 font-weight: 700;
	 line-height: var(--line-height--header);
}
 h1 {
	 font-size: var(--type-size--f1);
	 margin-top: var(--spacing-base--1-4);
}
 h3, h4, h5 {
	 margin-bottom: var(--spacing-base--1-8);
}
 h3 + p, h4 + p, h5 + p, h3 + ul, h4 + ul, h5 + ul, h3 + ol, h4 + ol, h5 + ol {
	 margin-top: var(--spacing-base--1-8);
}
 h2 {
	 font-size: var(--type-size--f2);
	 margin-top: var(--spacing-base);
	 margin-bottom: var(--spacing-base--1-2);
}
 h3 {
	 font-size: var(--type-size--f3);
}
 h4 {
	 font-size: var(--type-size--f4);
}
 h5 {
	 font-size: var(--type-size--f5);
	 font-weight: 400;
}
 address {
	 font-weight: 500;
	 font-style: normal;
}
 p + ol, p + ul {
	 margin-top: -0.75rem;
}
 ul, ol {
	 font-size: var(--line-height);
	 margin-top: var(--spacing-base--1-4);
	 margin-bottom: var(--spacing-base--1-4);
	 padding-left: var(--spacing-list);
	 list-style-position: outside;
}
 ul li, ol li {
	 margin-top: var(--spacing-base--1-8);
	 margin-bottom: var(--spacing-base--1-8);
}
 dl {
	 font-size: var(--font-size);
	 line-height: var(--line-height);
	 margin-top: 0;
	 margin-bottom: var(--spacing-base--1-2);
}
 dl dt {
	 font-family: var(--font-family);
	 font-weight: bold;
	 margin-bottom: 0;
}
 dl dd {
	 font-family: var(--font-family);
	 margin: 0 0 var(--spacing-base--1-4);
}
 a {
	 color: var(--color-link);
	 text-decoration: underline;
}
 a:hover {
	 color: var(--color-link--hover);
	 text-decoration: none;
}
 a:active, a:focus {
	 transition: none;
	 outline: 2px dotted var(--color-link--focus);
	 outline-offset: 3px;
}
 hr {
	 margin-top: var(--magic-spacing);
	 margin-bottom: var(--magic-spacing);
	 border: 0;
	 border-top: 1px solid var(--color-grey-mid);
}
 [data-theme] {
	 background-color: var(--color-bg);
	 color: var(--color-text);
}
 [data-theme='light'] {
	 --color-bg: #fff;
	 --color-bg-contrast: var(--color-grey-light);
	 --color-bg-contrast-low: var(--color-grey-light);
	 --color-text: #282828;
	 --color-text-contrast: #282828;
}
 [data-theme='alternate'] {
	 --color-bg: var(--color-grey-light);
	 --color-bg-contrast: var(--color-white);
	 --color-bg-contrast-low: var(--color-white);
	 --color-text: #282828;
	 --color-text-contrast: #282828;
}
 [data-theme='default'] {
	 --color-bg: var(--color-alt-grey);
	 --color-bg-contrast: var(--color-white);
	 --color-text: var(--color-text);
	 --color-text-contrast: var(--color-text);
}
 [data-theme='hero'] {
	 --color-bg: #dde9ed;
	 --color-bg-contrast: #fff;
	 --color-link: #122947;
}
 [data-theme='linen'] {
	 --color-bg: var(--color-linen);
	 --color-bg-contrast: var(--color-white);
	 --color-text: var(--color-text);
	 --color-text-contrast: var(--color-text);
}
 [data-theme='irresistible'] {
	 --color-bg: #131517;
	 --color-bg-contrast: #fff;
	 --color-bg-contrast-low: #282828;
	 --color-text: #fff;
	 --color-text-contrast: #c48e48;
	 --color-cta-bg: #71513b;
}
 [data-theme='irresistible--orange'] {
	 --color-text-contrast: #f9b140;
}
 [data-theme='irresistible--vermilion'] {
	 --color-text-contrast: #e66525;
}
 [data-theme='irresistible--paprika'] {
	 --color-text-contrast: #bf3f18;
}
 [data-theme='irresistible--eton-blue'] {
	 --color-text-contrast: #80c9a3;
}
 [data-theme='irresistible--dodger-blue'] {
	 --color-text-contrast: #1e96ed;
}
 [data-theme='irresistible--lavender-grey'] {
	 --color-text-contrast: #c0c8d8;
}
 [data-theme='irresistible--african-violet'] {
	 --color-text-contrast: #b38ec4;
}
 .form-item {
	 margin-top: var(--spacing-base--1-2);
	 margin-bottom: var(--spacing-base--1-2);
}
 .form-item:first-child {
	 margin-top: 0;
}
 .form-item:last-child {
	 margin-bottom: 0;
}
 .form-item .form-item-search {
	 display: flex;
	 align-items: stretch;
	 align-content: stretch;
}
 .form-item .form-item-search .form-item-search--input {
	 flex: 1 0 auto;
}
 .form-item .form-item-search .form-input {
	 border-radius: var(--border-radius) 0 0 var(--border-radius);
	 width: 100%;
}
 .form-item .form-item-search .form-button {
	 border-radius: 0 var(--border-radius) var(--border-radius) 0;
	 flex: 1 0 40%;
	 height: auto;
}
 .form-item .form-label {
	 display: block;
	 line-height: 1.5;
	 font-size: 1.125rem;
	 font-weight: 500;
	 margin-bottom: 0.25rem;
}
 .form-item .form-label .form-hint {
	 margin-top: -0.25rem;
}
 .form-item .form-hint {
	 display: block;
	 line-height: 1.25;
	 font-size: var(--font-size--small);
	 margin-top: var(--spacing-base--1-8);
	 margin-bottom: var(--spacing-base--1-4);
}
 .form-item .form-input, .form-item .form-textarea {
	 display: block;
	 width: 100%;
	 appearance: none;
	 border: 1px solid var(--color-grey-dark);
	 border-radius: var(--border-radius);
	 box-shadow: inset rgba(0, 0, 0, 0.15) 0 1px 2px;
	 padding-left: calc(1.5 * var(--spacing-base--1-4));
	 padding-right: calc(1.5 * var(--spacing-base--1-4));
	 padding-top: var(--spacing-base--1-4);
	 padding-bottom: var(--spacing-base--1-4);
	 font-size: var(--font-size);
	 font-family: var(--font-family);
	 line-height: 1.5;
}
 .form-item .form-input.invalid, .form-item .form-textarea.invalid {
	 border-color: var(--color-invalid);
}
 .form-item .form-input:focus, .form-item .form-textarea:focus {
	 border-color: var(--color-grey-dark);
}
 .form-item .form-input-msg {
	 margin: 0.25rem 0 0.5rem;
	 font-weight: 500;
	 font-size: 0.875rem;
	 line-height: 1.25;
}
 .form-item .form-input-msg.invalid {
	 color: var(--color-invalid);
}
 .form-item .form-textarea {
	 padding: 0.5rem;
	 font-size: 0.875rem;
	 line-height: 1.4;
}
 .form-item .form-input-wrapper {
	 display: flex;
	 align-items: center;
	 width: 100%;
	 appearance: none;
	 border-radius: var(--border-radius);
	 box-shadow: rgba(0, 0, 0, 0.25) 0 2px 16px;
	 padding: 0;
	 font-size: 1.125rem;
	 line-height: 1.2;
}
 .form-item .form-input-plain {
	 display: block;
	 width: 100%;
	 appearance: none;
	 border: 0;
	 border-radius: 0;
	 background-color: transparent;
	 padding: 0.75rem 0.5rem;
	 font-size: 1.125rem;
	 line-height: 1.2;
}
 .form-item .form-input-plain:focus {
	 border-color: var(--color-grey-dark);
}
 .form-item .form-checkbox {
	 line-height: 1.4;
	 display: flex;
}
 .form-item .form-checkbox-input {
	 flex: 0 0 auto;
	 appearance: none;
	 display: block;
	 height: 1.25rem;
	 width: 1.25rem;
	 border-radius: var(--border-radius);
	 border: 2px solid var(--color-grey-dark);
	 margin-right: 0.5rem;
	 margin-top: 0.125rem;
	 background-color: var(--color-white);
}
 .form-item .form-checkbox-input:checked {
	 background-image: url('../assets/icons/checkmark.svg');
}
 .form-item .form-checkbox-input:focus {
	 outline: 1px dotted var(--color-blue-mid);
}
 .form-item .form-radio-input {
	 margin-right: 0.5rem;
	 appearance: none;
	 background-color: var(--color-white);
	 border: 2px solid var(--color-grey-dark);
	 border-radius: 64px;
	 width: 1.25rem;
	 height: 1.25rem;
}
 .form-item .form-radio-input:focus {
	 outline: 1px dotted var(--color-blue-mid);
}
 .form-item.active > .form-radio-input {
	 background-image: url('../assets/icons/radio-dot.svg');
	 background-size: 36px;
	 background-position: center;
}
 .form-section {
	 border: 0;
	 padding: 0;
	 margin-bottom: calc(var(--spacing-base--1-2) * 1.5);
}
 .btn {
	 display: inline-block;
	 line-height: 40px;
	 height: 40px;
	 padding: var(--spacing-base--1-4) var(--spacing-base--1-2);
	 font-size: var(--font-size);
	 font-weight: 500;
	 text-align: center;
	 line-height: 1.5;
	 vertical-align: bottom;
	 border: 0;
	 border-radius: var(--border-radius);
	 appearance: none;
	 background-color: var(--color-grey-light);
	 text-decoration: none;
}
 .btn:hover, .btn:focus, .btn:active {
	 background-color: var(--color-grey-mid);
}
 .btn:disabled {
	 background-color: var(--btn-cta-color-disabled);
	 color: var(--color-white);
}
 .btn:disabled .btn__icon {
	 display: none;
}
 .btn:disabled:hover, .btn:disabled:focus {
	 background-color: var(--btn-cta-color-disabled);
	 color: var(--color-white);
}
 .btn svg {
	 vertical-align: bottom;
	 display: inline-block;
	 fill: var(--color-white);
}
 @media (max-width: 20rem) {
	 .btn {
		 font-size: 0.875rem;
	}
}
 .btn--primary {
	 background-color: var(--color-button-primary);
	 color: var(--color-white);
}
 .btn--primary:hover, .btn--primary:focus, .btn--primary:active {
	 background-color: var(--color-button-primary--hover);
	 color: var(--color-white);
}
 .btn--secondary {
	 background-color: var(--color-button-dark);
	 color: var(--color-white);
}
 .btn--secondary:hover, .btn--secondary:focus, .btn--secondary:active {
	 background-color: var(--color-button-dark--hover);
	 color: var(--color-white);
}
 .btn--full {
	 width: 100%;
}
 .btn--icon {
	 display: flex;
	 flex-direction: row;
	 flex-wrap: nowrap;
	 justify-content: space-between;
	 text-align: left;
	 font-size: var(--font-size--small);
	 line-height: 1.7;
	 padding: var(--spacing-base--1-4);
}
 .btn--add-to-basket {
	 border-top-left-radius: none;
	 border-top-right-radius: none;
}
 .btn--add-to-basket:disabled {
	 background-color: var(--btn-add-to-basket-color-disabled);
}
 .btn--add-to-basket:disabled .btn__icon {
	 display: inline-block;
}
 .btn--add-to-basket:disabled:hover, .btn--add-to-basket:disabled:focus {
	 background-color: var(--btn-add-to-basket-color-disabled);
}
 .btn-neg {
	 background-color: transparent;
	 color: var(--color-red-dark);
	 box-shadow: none;
}
 .btn-neg:hover, .btn-neg:focus {
	 background-color: var(--color-red-dark);
	 color: var(--color-white);
}
 